.carouselContainer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }
  
  .carouselTrack {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .image {
    border-radius: 0;
  }
  
  .textOverlay {
    position: absolute;
    top: 0%;
    left: 25%;
    transform: translate(-50%, 50%);
    color: rgb(223, 230, 235);
    font-size: 3.5rem;
    z-index: 10;
    width: 40%;
    text-align: center;
    text-shadow: .1rem .1rem 1rem #444444, -.1rem -.1rem 1rem 
    #444444, .1rem -.1rem 1rem 
    #444444, -.1rem .1rem 1rem 
    #444444; 
  }

  .verMas {
    background-color: rgb(67, 123, 175);
    color: rgb(222, 226, 230);
    padding: 1.1rem 4.5rem;
    font-size: 2rem;
    border-radius: .2rem;
    margin: 3rem 0 0 0;
    transition: 0.2s;
    box-shadow: 0 .5rem .9rem .1rem #444444cb;
  }
  .verMas:hover {
    background-color: rgb(39, 124, 204);
    text-decoration: initial;
  }
  
  .prevButton, .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .prevButton { left: 10px; }
  .nextButton { right: 10px; }
  
  .indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .activeDot {
    background-color: white;
  }
  

  