.container {
    box-shadow: 0 .1rem .9rem .2rem #cad1dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
    padding: 3rem;
}


.container > h2 {
    font-size: 1.9rem;
    padding: 1rem;
    text-align: center;
    color: #444444;
}
.features {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 70%;
    padding: 3rem;
}

.features > button {
    padding: 1rem;
    width: 20%;
    margin: auto;
    box-shadow: 0 .1rem .9rem .2rem #cad1dd;
    border-radius: .2rem;
    font-size: 1.5rem;
    color: #444444;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.features > button:hover {
       /* background-color: rgba(67, 123, 175, 0.103); */
       box-shadow: 0 .1rem .9rem .2rem rgb(67, 123, 175);
}
.features button.selectedButton {
    background-color: rgb(67, 123, 175);
    color: rgb(223, 230, 235);
    box-shadow: 0 .1rem .9rem .2rem #cad1dd;
}
.img {
    background-color: rgb(222, 226, 230);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: .2rem;
}

/* ================== RESPONSIVE ================== */
@media (min-width: 1024px) and (max-width: 1500px) {
    .features {
      width: 90%;
      padding: 2rem;
      gap: 1.5rem;
    }
  
    .features > button {
      width: 20%;
      font-size: 1rem;
      
      white-space: nowrap;        
      overflow: hidden;         
      text-overflow: ellipsis; 
    }
  }
  

@media (max-width: 1024px) {
    .features {
      width: 90%;
      padding: 2rem;
      gap: 1.5rem;
    }
  
    .features > button {
      width: 40%;
      font-size: 1.4rem;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 2rem;
      margin: 2rem auto;
    }
  
    .container > h2 {
      font-size: 1.6rem;
      padding: 0.8rem;
    }
  
    .features {
      width: 100%;
      padding: 1.5rem;
      gap: 1rem;
      justify-content: center;
    }
  
    .features > button {
      width: 45%;
      font-size: 1.3rem;
    }
  }
  
  @media (max-width: 480px) {
    .container {
        padding: 2rem;
        margin: 2rem auto;
      }
    
      .container > h2 {
        font-size: 1.6rem;
        padding: 0.8rem;
      }
    
      .features {
        width: 100%;
        padding: 1.5rem;
        gap: 1rem;
        justify-content: center;
      }
    
      .features > button {
        width: 45%;
        font-size: 1.3rem;
      }
  }
  