.container {
    position: fixed;
    z-index: 9;
    background-color: rgb(67, 123, 175);
    color: rgb(223, 230, 235);
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 9em;
    width: 70%;
    margin: 0 2rem;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    display: flex;
    justify-content: space-evenly;
    transition: clip-path 0.5s ease, padding 0.5s ease, width 0.5s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), 0 8px 24px rgba(0, 0, 0, 0.4);
}


.links {
    margin: 0;
    padding: 0 1.4rem;
    margin: auto 0;
    transition: 0.5s;
    padding: .1rem 1rem;
    border-radius: .2rem;
}

.links:hover {
    box-shadow: 0 .1rem .9rem .1rem #d1d9e6;
    text-decoration: none;
}

.acceso {
    background-color: rgb(222, 226, 230);
    color: rgb(67, 123, 175);
    padding: .1rem 1rem;
    border-radius: .2rem;
    margin: auto 0;
    transition: 0.5s;
}

.acceso:hover {
    background-color: rgb(39, 124, 204);
    color: rgb(222, 226, 230);
    box-shadow: 0 .1rem .9rem .1rem #d1d9e6;
}

.navScroll {
    position: fixed;
    z-index: 99;
    background-color: rgba(67, 123, 175, 0.575);
    backdrop-filter: blur(0.5rem);
    color: aliceblue;
    padding: 1rem 9em;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.1s ease, padding 0.1s ease, width 0.1s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
}

.userImg {
    background-color: #d1d9e6;
    border-radius: 50%;
    margin: 0;
    padding: .1rem;
}

/* //////user nav */
.profileContainer {
  position: relative;
  display: inline-block;
}

.userImg {
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.3s;
}

.userImg:hover {
  opacity: 0.8;
}

/* Estilos del menú desplegable */
.container, .navScroll {
    overflow: visible !important; /* Asegura que los elementos dentro del nav no sean recortados */
  }
  
  /* Estilos del menú desplegable */
  .dropdownMenu {
    position: fixed;
    top: 4.3rem;
    right: 5rem;
    width: 30%;
    padding: 2rem;
    background: rgb(222, 226, 230);
    box-shadow: 0 .1rem .7rem .1rem #41464e65;
    border-radius: .2rem;
    overflow: hidden;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menuItem {
    color: rgb(39, 124, 204);
    padding: 1rem;
    border-radius: .2rem;
    transition: 0.2s;
    width: 100%;
  }
  .menuItem:hover {
    background-color: rgb(39, 124, 204);
    color: #d1d9e6;
  }

  .logout {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #dc3545;
    color: #d1d9e6;
    font-weight: bold;
    border-radius: .2rem;
    transition: 0.2s;
    width: 100%;
  }

  .logout:hover {
    background-color: #f54e5e;
  }
  
  /* Asegura que el contenedor del usuario sea visible */
  .profileContainer {
    position: relative;
    z-index: 999; /* Asegura que esté por encima del nav */
  }

  .cartItemCount {
    background-color: #dc3545;
    color: #d1d9e6;
    border-radius: 50%;
    padding: 0.1rem 0.5rem;
    position: absolute;
    top: -.5rem;
    right: -.4rem;
    font-weight: bold;
  }

  .linksCart {
    margin: 0;
    padding: 0 1.4rem;
    margin: auto 0;
    transition: 0.5s;
    padding: .1rem 1rem;
    border-radius: .2rem;
    position: relative;
}



.linksCart:hover {
    box-shadow: 0 .1rem .9rem .1rem #d1d9e6;
    text-decoration: none;
}