*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #171717;
  background-color: #ffffff;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

input,
textarea,
select,
button {
  background-color: transparent;
  border: 0;
  font: inherit;
  color: inherit;
  outline: none;
}

input,
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body {
  line-height: 1;
}

body {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}